.page{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box{
        min-height: 120px;
        background: #1e293b;
        margin: 0 -1rem;
        font-size: 36px;
    }
    &__content{
        height: 534px;
        width: 1244px;
        min-height: calc(100vh - 178px);
        border-radius: 10px;
        margin-top: -2rem;
        background: white;
        color: black;
        font-size: 2rem;
        &-data{
            top: 60%;
            left: 51%;
            transform: translate(-50%, -50%);
            color: black;
        }
    }
}