.page{
    color: black;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box{
        color: white;
        min-height: 120px;
        background: #1e293b;
        margin: 0 -1rem;
        font-size: 36px;
    }
    &-data{
        max-height: 10%;
        margin-top: -10rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        }
    .mat-success {
        background-color: green;
        color: #fff;
    }
    .requis{
        color: red;
    }
    }
