<mat-nav-list>
    <div class="logo py-4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Capital_Fund_Management_Logo.png" width="200" height="70"/>
    </div>
    <mat-divider></mat-divider>
        <h2 matSubheader class="mt-2">APPLICATIONS</h2>
        <a mat-list-item routerLink="/home" routerLinkActive="list-item-active"> 
            <mat-icon>home</mat-icon> Accueil 
        </a>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active"> 
            <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a mat-list-item routerLink="/addcontact" routerLinkActive="list-item-active"> 
            <mat-icon>contact_mail</mat-icon> Ajouter un contact
        </a>
</mat-nav-list>